@{
    ViewBag.Title = "Login";
}


@using (Html.BeginForm())
{
    <div class="container" style="width: 80%">
        <div class="row well">
            <div class="divQuadro text-center">
                <div>
                    <form>
                        <div class="form-group">
                            <input type="text" id="login" autocomplete="off" placeholder="Login" class="caixaTexto nome">
                        </div>
                        <div class="form-group">
                            <input type="password" id="senha" placeholder="Senha" class="caixaTexto senha">
                        </div>
                        <div class="divBotoes">
                            <div class="form-group">                                
                                <input type="button" id="btEntrar" class="btn btn-primary" value="Entrar">
                            </div>
                        </div>
                        <div class="form-group">
                            <label style="cursor: pointer" id="lblNovoUsuario">Novo Usuário?</label>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
}
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script>

    $("#lblNovoUsuario").on("click", function () {
        Login.NovoUsuario();
    });

    $("#btEntrar").on("click", function () {
        Login.AutenticarUsuario();
    });

    $("#senha").keyup(function (e) {
        if (e.keyCode === 13) {
            Login.AutenticarUsuario();
        }
    });

    var Login = {

        NovoUsuario: function () {
            $.ajax({
                url: "@Url.Action("NovoUsuario", "Usuario", new { area = "Usuario" })",
                type: "GET",
                success: function (html) {
                    bootbox.dialog({
                        className: "dialogWide",
                        title: "Cadastrar Usuário",
                        message: html
                    });
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    validacao.errorAjax(jqXHR, textStatus, errorThrown);
                }
            });
        },

        AutenticarUsuario: function () {

            var usuario = {
                Login: $("#login").val(),
                Senha: $("#senha").val()
            };

            $.ajax({
                url: "@Url.Action("Autenticar", "Login")",
                type: "GET",
                data: { model: usuario },
                success: function (result) {

                    var retorno = result.mensagensRetorno;
                    if (retorno.Status) {
                        var url = href = '@Url.Action("Index", "Inicio", new { area = "Inicio" })';
                        window.location.href = url;
                    }
                    else {
                        swal({
                            title: '',
                            text: retorno.MensagemExibicao,
                            type: 'warning',
                            confirmButtonColor: '#10386B',
                            allowOutsideClick: false
                            });
                        console.log(retorno.MensagemAnalise);
                    }
                },error: function (jqXHR, textStatus, errorThrown) {
                    validacao.errorAjax(jqXHR, textStatus, errorThrown);
                }
            });

        }
    }

</script>